@{
  ViewBag.Title = "Index";
}

<h2>Time App develop server, hello</h2>
<div id="MainContainer">
  <div id="headerContainer">
    <div id="LogoContainer">

    </div>
    <div id="MenuContainer">
      <div class="MenuElement" style="background-color:rgb(191,39,0)">ABOUT AS</div>
      <div class="MenuElement">PORTFOLIO</div>
      <div class="MenuElement">OUR TEAM</div>
      <div class="MenuElement">FEEDBACK</div>
    </div>
  </div>
  <div id="BodyContainer">
    <div class="TextContainer">

    </div>
  </div>
  <div id="FooterContainer">

  </div>
</div>
