@{
    ViewBag.Title = "About US";
}


<style>
    #GreenPage {
        background-color: rgb(44, 219, 116);
        width: 860px;
    }

    #YellowPage {
        background-color: rgb(255, 170, 1);
        width: 140px;
        left: 790px;
        height: inherit;
    }

    #BluePage {
        background-color: rgb(1, 144, 192);
        width: 140px;
        left: 860px;
        height: inherit;
    }
</style>
<div class="DataPageContainer">
    <div id="BluePage" class="Page">
    </div>
    <div id="YellowPage" class="Page">
    </div>
    <div id="GreenPage" class="Page">
        <div class="TextContainer">
            <div class="imginTextContainer">
                <img src="~/Content/img/text_img.jpg"/ alt="error">
            </div>
            <h3>Добро пожаловать на сайт  студии   Creatiws!</h3>
           <p>
             Наша команда занимается созданием iOS, Android, Windows проектов, как собственных так и на Заказ.
Мы осуществляем полный цикл создания приложения – от идеи до финального тестирования:
- работаем с любыми известными платформами;
- синхронизируем со всеми видами технологического оборудования и системами
- интегрируем в любые готовые решения
Также мы обеспечиваем дальнейшую поддержку наших продуктов.
             </p>
          <p>
Высокий уровень квалификации специалистов, компетенция руководителей и огромные амбиции – являются нашим преимуществом!
Мы решаем Ваши задачи в лучшем виде! За разумные деньги!

           </p>
        </div>
    </div>


</div>
