@{
    ViewBag.Title = "Portfolio";
}
<style>
    #GreenPage {
        background-color: rgb(44, 219, 116);
        width: 140px;
        height: inherit;
    }

    #YellowPage {
        background-color: rgb(255, 170, 1);
        width: 860px;
        left: 120px;
        height: inherit;
    }

    #BluePage {
        background-color: rgb(1, 144, 192);
        width: 140px;
        left: 910px;
        height: inherit;
    }
</style>
<div class="DataPageContainer">

    <div id="GreenPage" class="Page">
    </div>

    <div id="BluePage" class="Page">
    </div>
    <div id="YellowPage" class="Page">
        <div class="TextContainer">
            <div class="imginTextContainer">
                <img src="~/Content/img/text_img.jpg" alt="error" />
            </div>
            <h3>Time Upp</h3>
            <p>
                В западной традиции рыбой выступает фрагмент латинского текста из философского трактата Цицерона «О пределах добра и зла», написанного в 45 году до нашей эры. Впервые этот текст был применен для набора шрифтовых образцов неизвестным печатником еще в XVI веке.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tina commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
            </p>
            <p>
                Sed ut perspiciatis, unde omnis iste natus error sit voluia voluptas sit, ed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit, amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem. ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur?
            </p>

        </div>
    </div>

</div>

