@{
  ViewBag.Title = "Portfolio";
}
<style>
  #GreenPage {
    background-color: rgb(44, 219, 116);
    width: 140px;
    height: inherit;
  }

  #YellowPage {
    background-color: rgb(255, 170, 1);
    width: 860px;
    left: 70px;
    height: inherit;
  }

  #BluePage {
    background-color: rgb(1, 144, 192);
    width: 140px;
    left: 860px;
    height: inherit;
  }
</style>
<div class="DataPageContainer">

  <div id="GreenPage" class="Page"> </div>
  <div id="BluePage" class="Page"></div>
  <div id="YellowPage" class="Page">
    <div class="TextContainer">
      <div class="imginTextContainer">
        <img src="~/Content/img/text_img.jpg" alt="error" />
      </div>
      <h3>Портфолио</h3>
      <p>
        Creatiws – перспективная быстроразвивающаяся команда  специалистов.
Мы готовы взяться за реализацию задач любого масштаба – от простых инфо-приложений – до сложнейших долгосрочных проектов
      </p>
      <br />
      <br />
      <p>
        Мы занимаемся:<br />
Разработка мобильных приложений<br />
        Разработка real-time графики и 3d контента<br />
        Разработка программных комплексов управления оборудованием<br />
        Разработка приложений дополненной реальности 
        <br />
        Создание систем kinect-управления цифровым контентом<br />
        Разработка интерактивных презентаций<br />
        Создание и сопровождение 3d презентаций и шоу<br />
      </p>
      <p>
        Среди наших приложений можно выделить два интересных проекта:
        <br />
        TimeUp - интеллектуальный будильник, помогает оказаться в нужном месте в нужное время <br />
        Advanced Sound Share - приложение для воспроизвдения звука с нескольких устройств.
      </p>
    </div>
  </div>

</div>

