@{
    ViewBag.Title = "Our Team";
}


<style>
    #GreenPage {
        background-color: rgb(44, 219, 116);
        width: 140px;
        height: inherit;
    }

    #YellowPage {
        background-color: rgb(255, 170, 1);
        width: 140px;
        left: 70px;
        height: inherit;
    }

    #BluePage {
        background-color: rgb(1, 144, 192);
        width: 850px;
        left: 140px;
        height: inherit;
    }
</style>
<div class="DataPageContainer">
    <div id="GreenPage" class="Page">
    </div>
    <div id="YellowPage" class="Page">
    </div>
    <div id="BluePage" class="Page">
        <div class="TextContainer">
          <h3>Наша команда</h3>
          <br />
            <div class="imginTextContainer" >
                <img src="~/Content/img/command.jpg" height="200" alt="error">
            </div>
          <br />
          
             <p>
                Yuri Volobuev – CEO, creative <br />
Michail Tatarincev – iOS – разработка, SQL, мат. анализ<br />
Alexey Shtern – Android – разработка.<br />
Maria Gatiatullina – Design<br />
</p>
        </div>
    </div>


</div>

