@font-face {
font-family: "MainFontBlack"; 
src: url("/Content/fonts/PFDinDisplayPro-Black.ttf");
}
@font-face {

font-family: "MainFontReg"; 
src: url("/Content/fonts/PFDinDisplayPro-Reg.ttf");
}
body {
    
    background-image:url("/Content/img/background.jpg")
}
p {
    font-family: 'Arial';
    font-style: italic;
    font-weight: lighter;
    font-size: 14px;
}
h3 {
    font-family: "MainFontReg"; 
    font-style: normal;
    font-weight: lighter;
    font-size: 30px;
}
#MainContainer {
    width: 980px;
    padding-left: 45px;
    padding-right: 45px;
    margin: 0 auto;
}

#headerContainer {
    height: 130px;
    width: 100%;
}

#LogoContainer {
    width: 270px;
    height: 100%;
    float: left;
    background-image: url("/Content/img/title.jpg");
}

#MenuContainer {
    width: 190px;
    height: 100%;
    float: right;
    /*padding-left: 10px;*/
    /*background-color: aquamarine;*/
}
a {
    text-decoration:none;
    color:inherit;
}
ul {
    margin-top:0px;

}
li { /* обычная ссылка */
    /*background-color: white;*/
    color: white;
    padding-right: 10px;
    font-family: "MainFontReg";    
    font-weight:100;
    
}

    li.MenuElement { /* анимация */
        -webkit-transition-duration: 0.4s;
        -o-transition-duration: 0.8s;
        -moz-transition-duration: 0.8s;
        transition-duration: 0.4s;

    }

        li.MenuElement:hover { /* цвет при наведении */
            background-color: rgb(191,39,0);
            color: black;
        }

.MenuElement {
    width: 150px;
    height: 25px;
    padding-top: 5px;
    font-size: 15pt;
    min-width: 115px;
    text-align: right;
    list-style-type: none;
}

#BodyContainer {
    width: 100%;
    height:auto;
    margin-top: 20px;
    /*background-color: brown;*/
}
#FooterContainer {
    margin-top: 35px;
    height: 95px;
    text-align:center;
    font-size: 13px;

}
.DataPageContainer {
    width: auto;
    height: 590px;
    position: relative;
}

.Page {
    border:10px;
    border-radius:40px;
    position:absolute;
}
.TextContainer {
    width: 740px;
    min-height: 400px;
    height:530px;
    border: 30px;
    border-radius: 30px;
    background-color: white;
    padding: 20px;
    margin: 10px;
    font-size: 14pt;
}
.imginTextContainer {
    /*width: 200px;*/
    height: 200px;
    margin: 30px;
    float: left;
}
.sizeblediv {
     resize: both;  
    overflow: auto;
      border: 1px solid #216278;
    border-radius: 5px;
    padding: 20px;
    background-color: #06799f;
    width: 300px;
    height: 150px;
    min-width: 300px;
    min-height: 150px;
}